<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Форма регистрации</title>
</head>
<body>
<form action="{{ url_for('registration') }}" method="post">
    <div class="row">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                        <div class="row">
                            <div class="col text-center">
                                <h1>Регистрация</h1>
                                <p class="text-h3">Крутой текст</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h3>Фамилия</h3>
                                <input type="text" class="form-control" placeholder="Иванов" name="last-name">
                            </div>
                            <div class="col">
                                <h3>Имя</h3>
                                <input type="text" class="form-control" placeholder="Иван" name="first-name">
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <h3>Ваш никнейм</h3>
                                <input type="text" class="form-control" placeholder="her0ku" name="nickname">
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <h3>Ваш номер телефона</h3>
                                <input type="text" class="form-control" placeholder="+79264411000" name="phone">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h3>Введите дату рождения:</h3>
                                <input type="date" class="form-control" name="data-birth">
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <h3>Email</h3>
                                <input type="email" class="form-control" placeholder="example@mail.ru" name="mail">
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <h3>Пароль</h3>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Сильный пароль" name="pass">
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="введите пароль еще раз">
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="col">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        Соглашение <a href="https://www.google.com">Права пользователя</a>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
</body>
</html>